.register{
    width: 400px;
    background: #ffff;
    border: 2px solid #111111;
    box-shadow: 0 0 5000px rgb(255, 46, 112);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.register > input{
    border-radius: 8px;
    border: 1px solid #15202b;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0.75rem;
    width: 95%;
    font-size: 1rem;
}

.register > .button{
    background: #15202b;
    border: 1px solid #15202b;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.2rem;
    margin: 0.2rem 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}