.login{
    width: 400px;
    background: #fff;
    border: 1px solid #ffffe2;
   
    box-shadow: 0 0 5000px rgb(255, 252, 252);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.login > input{
    border-radius: 8px;
    border: 1px solid #1d2a3d;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.login > .button{
    background: #1d2a3d;
    border: 1px solid #1d2a3d;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.3rem;
    margin: 0.3rem 0;
    box-shadow: 0 0 9px rgb(0, 0, 0);
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}